:root {
    --primary-color: #4d5ae5;
--icon-fill: #f4f4fd;
--footer-text: #ffffff;
--white: #ffffff;}
    
    body {
     font-family: 'Roboto', sans-serif;
     color: #434455;
     background-color: #FFFFFF;
 }

 ul,
 ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}
 a {
     text-decoration: none;
 }
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
   
    display: flex;
  
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
   }

.nav-list {
    display: flex;
   align-items: center;
   gap: 40px;
}
 .header-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
        text-decoration: none;
        padding: 24px 0;
        margin-right: 76px;
 }

 .nav-link.current
 {
 position: relative;
 }

 .nav-link.current::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -1px;
     background-color: #404bbf;
     width: 100%;
     height: 4px;
     border-radius: 2px;
 }

 .nav-link {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
     padding: 24px 0;
     display: block;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
       
    }

 .solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url("../images/solutions-bg.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 188px 0;
 }
.solutions-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color:#ffffff;
        max-width: 496px;
        margin: 0 auto 48px;
}
.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;}

.order-btn {
    display: block;
    min-width: 169px;
    background-color: #4d5ae5;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.features {
    padding: 120px 0;
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
margin-bottom: 8px;
}

.features-list {
display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-item {
    width: calc((100% - 72px) / 4);
    list-style-type: none;
}
.feature-icon-box {
    display: flex;
       align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
 .team-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
    margin-bottom: 8px;
     text-align: center;
     }

 .team-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
text-align: center;
    }

 .team-section {
     background-color:#F4F4FD;
     padding: 120px 0;
   
 }
 .team-card {
    background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
       overflow: hidden;
    border-radius: 0 0 4px 4px;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 img {
     display: block;
      }
 .team-info {
         padding: 32px 0;}

.team-list {
    display: flex;
       gap: 24px;
       margin: 0;
    padding: 0;
    list-style: none;
}
 .features-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .feature-icon-box svg {
     fill: var(--primary-color);}

 .team-socials {
    display: flex;
    justify-content: center;    
    gap: 24px;
     list-style: none;
    margin: 0;
     padding: 0; }

     .social-item {
width: 40px;
     height: 40px;

     }

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.team-socials .social-link:hover,
.team-socials .social-link:focus {
    background-color: #404bbf;
}

.social-icon {
       width: 16px;
        height: 16px;
      fill: #f4f4fd;}

    
    .section-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;}

.card-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
         }
.card-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
                 }
.projects {
    padding-top: 120px;
    padding-bottom: 120px;
   }
.section-title {
    margin-bottom: 72px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}
.project-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);}

    .project-thumb {
    position: relative;
                 
                    overflow: hidden;}

        .project-overlay {
            position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 40px 32px;
                background-color: #4d5ae5;
                color: #f4f4fd;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                transform: translateY(100%);
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
            
     .project-info {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;}

        .project-item:hover .project-overlay {
            transform: translateY(0%);}

.card-title {
       margin-bottom: 8px;
}


 .contacts {
     font-style: normal;
     margin-left: auto;
 }

 .contacts-link {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     display: block;
     padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus,
 .nav-link.current {
     color: #404bbf;
 }

 .page-footer {
     background-color: #2e2f42;
     padding: 100px 0;
 }
 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     text-decoration: none;
    display: inline-block;
        margin-bottom: 16px;
      }

.header-logo {
    background-color: #FFFFFF;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#f4f4fd;
        max-width: 264px;
            }

.footer-wrap {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer-brand {
    margin-right: 120px;
    max-width: 264px;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: var(--white);
    }
    
  
.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}
.footer-socials {
    min-width: 200px;
}
.footer-socials .social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 50%;
 display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials .social-link:hover,
.footer-socials .social-link:focus {
    background-color: #31d0aa;
}

.footer-socials .social-icon {
    width: 24px;
    height: 24px;
    fill: var(--icon-fill);
}

.social-icon {
    fill: #f4f4fd;}